.searchresults {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -5px;
}




.btn{
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  /* border: none; */
  cursor: pointer;
  color: #ffe600;
  background-color: #000000;
}

.btn:hover{
  background-color: #000000;
}

.min{
  padding: 10px;
  margin-top: 10px;
  border: none; 
  cursor: pointer;
  background-color: #E3E32C;
  color: #363432;
}
.max{
  padding: 9px;
  margin-bottom: 5px;
  margin-top: 10px;
  border: none; 
  cursor: pointer;
  background-color: #E3E32C;
  color: #363432;
}

.min:hover{
  color: #363432;
  background-color: #f0f030;
  transform:scale(1.1);
  transition: 600ms;
}
.max:hover{
  color: #363432;
  background-color: #f0f030;
  transform:scale(1.1);
  transition: 600ms;
}


  
  .card button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #d9d9d9;
  /* border: none; */
  border-radius: 4px;
  color: #000;
  cursor: pointer;
  }
  
  .cardInfo {
  font-weight: bold;
  }

button.select {
  border: 0;
  margin: 10px;
  background: none;
  margin-left: 3rem;
  text-align: center;
  border: 3px solid #E3E32C;
  padding: 14px 40px;
  outline: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-weight: 700;
  border-radius: 24px;
  transition: 0.5s;
}

button.select:hover {
  color: #ffffff;
  background-color: #a1a105;
  transform:scale(1.1);
  transition: 600ms;
}

button:hover {
  background-color: #000000;
}

button:active {
  background-color: #bababa;
}

input {
  margin: 5px;
  padding: 10px;
  margin-right: 2rem;
  border-radius: 80px;
  /* border: 1px solid #000000; */
}

input:focus {
  outline: none;
  border: 1px solid #000000;
  box-shadow: 0px 0px 5px #747373;
}
