.navBar {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #c5981c;
    border: solid rgba(172, 190, 224, 0);
    margin-bottom: 10px;
}
.btn {
    padding: 10px 20px;
    color: white;
    background-color:#00000000;
    border: none;
    cursor: pointer;
    margin: 5px;
    font-size: 1rem;

}
.btn:hover, .btn:active, .btn:focus {
    color: #fff;
    background-color: #705200;
  }
  
