.landingSection {
  background-color: #f9f9f9;
  background-image: url("../image/landing3.jpg");
   background-size: cover;
  background-position: center 0;
  height: 100vh;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  image-rendering: pixelated;
  padding-left: 10px;
}
.landingHeading {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.landingButton {
  background-color: #E3E32C;
  color: #363432;
  padding: 1.3rem 6rem;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  position: fixed;
  top: 465px;
  left: 135px;
 }
.landingButton {
  cursor: pointer;
  display: inline-block;
  transition: 0.5s;
}.landingButton:after {content: '\00bb';position: absolute;
  right: -20px;
  transition: 0.5s;
}.landingButton:hover {
  padding-right: 110px;
  padding-bottom: 30px;
  background-color: #eaf16f;
}.landingButton:hover:after {
  opacity: 1;
  right: 0;
}