.card_container{
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: max-content;
  margin-top: 50px;

}
.card{
  display: flex;
  position: relative;
  border-radius: 10px;
  background-color: #f6f6f600;
  box-shadow: 0.2rem 0.2rem 0.5rem rgb(0 0 0 / 20%);
  height: 500px;
  font-family: Verdana, Geneva, sans-serif;
}

.card_img{
  display: flex;
  width: 500px;
  justify-content: center;
  align-items: center;
}
.parrafo{
  margin-left: 20px;
}
.imgContainer{
  display: flex;
  align-items: center;
  width: 500px;
  height: 500px;
}
.imgContainer img{
  max-width: 100%;
}

.quest{
  margin-left: -35px;
}

.desc{
  width: 100%;
  margin: 10px;
  padding: 0 3px 0 20px;
}

.price{
  color: darkRed;
}
  /* .card {
      width: 80%;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: 9rem;
      filter: drop-shadow(0 0 5px #cbcbcb);
      
    } */
    .cart{
      margin-top: -40px;
    }
    .cardimg:hover{
      transform:scale(1.1);
      transition: 600ms;
      
    }
     .cardimg {
        border-radius: 30px;
        margin: 10px;
        display: flex;
        width: 300px;
        height: 300px;
        background-color: rgb(149, 149, 149);
      }
    
.btn{
  border: 0;
  background: none;
  margin: 20px auto;
  text-align: center;
  border: 2px solid darkRed;
  padding: 14px 40px;
  outline: none;
  color: #000000;
  font-weight: 700;
  border-radius: 24px;
  transition: 0.5s;
}
.btn1{
  margin-right: 1rem;
  padding: 15px;
  border: none;
  cursor: pointer;
  color: #E3E32C;
    background-color: #363432;
}
.questions{
  margin-left: 55px;
}
.btn1:hover{
  transform:scale(1.1);
  transition: 600ms;
  color: #E3E32C;
  background-color: #525252;
}
.btn:hover{
  transform:scale(1.1);
  transition: 600ms;
  color: white;
  background-color: darkRed;
  cursor: pointer;
}
.heartBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  color: gray;
  transition: color 0.3s ease;
  margin-top: 5px;
  }
  
  .heartBtn:hover,
  .heartBtn:focus,
  .heartBtn:active { /* Agregada la pseudoclase :active */
  color: rgb(149, 142, 145);
  }
  
  .imageContainer {
  display: flex;
  align-items: center;
  width: 290px; /* ancho fijo para el contenedor */
  position: relative;
  }
  
  
  .heartBtn.marked {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 25px;
  color: rgb(239, 208, 10);
  transition: color 0.3s ease;
  margin-top: 5px;
  }
  