/* Estilos para el contenedor principal del formulario */
.createdog {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  
}

 /* Estilos para el título del formulario  */
 .createdog h1 {
  margin-top: 0;
  color: white;
  text-align: center;
}

 /* Estilos para el botón de regreso a la página de inicio  */
 .button-container {
  display: flex;
  justify-content: space-between;
} 

 .goHomeButton {
  background-color: #E3E32C;
  color: #363432;;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
} 


 /* Estilos para los campos de entrada de datos  */
 .label {
  display: flex;
  margin-bottom: 5px;
  left: 300px;
}
.input2{
  display: flex;
  margin-left: 5px;
  width: 495px;
}
.imageupload{
  display: flex;
  width: 450px ;
}

input[type="text"],
input[type="number"],
select {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  display:inline-block;
} 

 .div select {
  height: 100px;
} 

 /* Estilos para el botón de crear  */
 .createButton {
  display: block;
  margin: 0 auto;
  background-color: #E3E32C;
  color: #363432;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.landingButton {
  background-color: #d4d4d4;
  color: rgb(0, 0, 0);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1.2rem;
  cursor: pointer;
}
.parrafo {
  background-color: #ffe600;
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
.landingButtonn {
  min-width: 130px;
  text-transform: initial;
  text-shadow: #f8f8f8;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  height: 40px;
  background-color: #E3E32C;
  color: #363432;;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  
  overflow: hidden;
  /* border: 2px solid #ffe600; */
  color: #363432;;
}

.landingButtonn:hover {
  color: #ffe600;
  background-color: #000000;
  transform:scale(1.1);
  transition: 600ms;
}






   