
  .select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .input {
    width: 370px;
    height: 40px;
    font-size: 16px;
    
  }
  .SearchButton {

    font-size: 16px;
    margin-top: 100rem;
  }
  
  .searchresults {
    max-width: 400px;
    margin: -45px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
  }
  
  .searchresults .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .searchresults .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .searchresults .card p {
    margin: 10px;
    font-size: 16px;
    line-height: 1.5;
  }
  
  @media only screen and (max-width: 767px) {
    .searchresults {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      grid-gap: 10px;
    }
  
    .searchresults .card {
      border-radius: 0;
    }
  
    .searchresults .card p {
      margin: 5px;
      font-size: 14px;
    }
  } .searchBtn {
    background-color: #363432;
    color: #ffe600;
    padding: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    top: -190px;  
     left: 20px; 
   
    width: 100%;
  }
 .search{
   border: solid 1px rgb(137, 136, 136);
   width: 500px;
   border-radius: 5px;
 
  } 
  .card {
    width: 40%;
  border-radius: 5px;
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 30rem;
  filter: drop-shadow(0 0 5px #cbcbcb);
  background-color: transparent;
  }
  .card:hover{
    transform:scale(1.1);
    transition: 600ms;
  }
   .cardimg {
    margin: 10px;
    display: flex;
    margin-left: 4.5rem;
    width: 200px;
    height: 200px;
    }
    .name{
      font-family: Verdana, Geneva, sans-serif;
      width: 350px;
      font-size: 1em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .description{
      font-family: Verdana, Geneva, sans-serif;
      width: 300px;
      font-size: 0.8em;
      margin-left: 1.5rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .price{
      color: #8B0000;
      font-size: 0.9em;
      font-family: Verdana, Geneva, sans-serif;
      font-weight: 200;
    }
  
  
.btn{
padding: 10px;
margin-left: 3rem;
border: none;
cursor: pointer;
  color: #E3E32C;
    background-color: #363432;
}
.btn1{
margin-right: 1rem;
padding: 10px;
border-radius: 4px;
border: none;
cursor: pointer;
color: #ffe600;
background-color: #000000;
}

.btn1:hover{
background-color: #000000;
}
.btn:hover{
  transform:scale(1.1);
  transition: 600ms;
  color: #E3E32C;
  background-color: #525252;
}
  
  .searchsearchButton svg {
    background-color: transparent;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    cursor: pointer;
  }
  .searchButton{
    background-color: #00000000;
    color:#ffffff;
    border: none;
    position: absolute;
    top: 1rem;
    right: 60rem;
    cursor: pointer;
    font-size: 16.5px;
    padding-top: 5px;
    padding-left: 10px;

  }

  .searchButton:hover{
    transform:scale(1.3);
          transition: 600ms;
    background-color: #00000000;
  }
    
    
  