.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .page-item {
    display: inline-block;
    margin: 0 5px;
  }
  
  .page-link {
    color: #E3E32C;
    background-color: #363432;
    border: none;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .active .page-link {
    color: #363432;
    background-color: #E3E32C;
    border-color: #E3E32C;
  }
  
  .page-link:hover{
    color: #363432;
    background-color: #E3E32C;
  }