.login{
  display: flex;
  margin-left: 54rem;

    }
    .logout{
     margin-left: 54rem;
    }
    
        .logout:hover{
          transform:scale(1.3);
          transition: 600ms;
        }
        

    .login:hover{
      transform:scale(1.3);
      transition: 600ms;
    }
    
    
