.login{
  margin: 6px;
  padding: 10px;
  border: none;
  color: #ffffff;
  background-color:#00000000;
  cursor: pointer;
  position:relative;
  top: 3px;
  right: -35rem;
  font-size: 1rem;
}
.login:hover{
  color: #E3E32C;
background-color: #0d0d0d00;
transform:scale(1.1);
transition: 600ms;
}
.logout{
  display: block;
  border: none;
  color: #ffffff;
  background-color:#00000000;
  cursor: pointer;
  margin-left: 26.5rem;
  margin-top: 5px;
  font-size: 1rem;

}

    .logout:hover{
      color: #E3E32C;
      background-color: #0d0d0d00;
      transform:scale(1.1);
      transition: 600ms;
    }
    
    
